*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    margin: 0;
}
.main-color{
    background-color: #FFEEE3
}

/*/Logo/*/
.logo{
    width: 85px; ;
    margin-left: 20px;
}

/*/Navbar Bootstrap/*/
.navbar{
    background-color: #FFEEE3 !important;
}
.navbar-brand{
    color: black;
}

/*/Carousel/*/
.carousel-tarjeta{
    width: 100%;
}

/*/Botones Boostrap/*/
.btn{
    background-color: #E58435;
    
}

/*/Navbar CSS/*/
.navss{
    background-color:#FFDFCC ;
    display: flex;
    justify-content: space-between;
}
.navss ul{
   list-style-type: none;
   display: flex;
   justify-content: end;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: medium;
}
.navss ul li a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;}

/*/Header/*/    
.headerindex{
    background-image: url(/assets/img/portada.jpg);
    background-size: cover;
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: end;
    padding-right: 100px;
    padding-top: 150px;
    
}
.header-index-info{
    color: white;
    font-size: xx-large;
    font-style: oblique;
}
.header-index-info > h1 > span{
    color: #E58435;
}
.subtitle{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-style: italic ;
    padding-top: 25px;
    padding-bottom: 25px;
}

/*/Tarjetas/*/
.tarjeta{
  display: flex;
  width: 350px;
  column-gap: 10px;
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.tarjetas{
    padding-right: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
}
.tarjeta > img{
    width: 450px;
    height: 350px;
    padding-bottom: 25px;
}
.tarjeta-text > h3 b {
        text-align: center;
    }

/*/Botones/*/
.boton{
    display: block;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E58435;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}
.boton-product{
    display: block;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #E58435;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}
.all-products{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/*/Index/*/
.productindex{
    display: block;
    width: 350px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E58435;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}


.subtitle-aside{
    display: flex;
    justify-content: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-style: italic ;
    padding-top: 30px;
    padding-bottom: 25px;
}

.footerindex{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #FFDFCC;
    
}


.footer-info{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 20px;
    padding-top: 90px;
    color: #E58435;

}

.iconosindex{
    position: relative;
}

.pagos{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E58435;
}
   
.redessociales{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #E58435;
}

.headerproductos{
    background-image: url(/assets/img/portadaproductos.jpg);
    background-size: cover;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: start;
    padding-left: 100px;
    padding-top: 350px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.header-productos-info{
    color: #E58435;
    font-size: xx-large;
    font-style: oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


.headeraccount{
    background-image: url(/assets/img/headercrearcuenta.webp);
    background-size: cover;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: start;
    padding-left: 100px;
    padding-top: 350px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.header-account-info{
    color: #E58435;
    font-size: xx-large;
    font-style: oblique;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     
}

.header-account-info > h1 span{
    color: #FFEEE3;
}

.maps{
    background-color: #FFEEE3;
    padding-left: 100px;
    display: flex;
    justify-content: space-around;
    font-size: medium;
    font-weight: bold;

}

.name{
    padding-left: 5px;
    font-weight: bold;
    display: block;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    
}

.email{
    padding-left: 5px;
    font-weight: bold;
    display: block;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}

.number{
    padding-left: 5px;
    font-weight: bold;
    display: block;
    width: 200px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}

.password{
    padding-left: 5px;
    font-weight: bold;
    display: block;
    width: 200px;
    margin-top: 20px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}

.message{
    padding-left: 5px;
    font-weight: bold;
    display: block;
    width: 400px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
}

.send{
    display: block;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E58435;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
}

.reset{
    display: block;
    width: 100px;
    margin-top: 10px;
    text-align: center;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #E58435;
    border: none;
}

.map{
    height: 950px;
    background-position: left;

}

.headerofertas{
    background-image: url(/assets/img/headerofertas.webp);
    background-size: cover;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: start;
    padding-left: 100px;
    padding-top: 350px;
    padding-right: 100px;
    padding-bottom: 100px;
}

.header-ofertas-info{
    color: #E58435;
    font-size: xx-large;
    font-style: oblique;
}
    
.card-ofertas{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-right: 180px;
}

.headernosotros{
    background-image: url(/assets/img/headernosotros.jpg);
    background-size: cover;
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: start;
    padding-left: 100px;
    padding-top: 350px;
    padding-right: 100px;
    padding-bottom: 100px;

}

.header-nosotros-info{
    color: #E58435;
    font-size: xx-large;
    font-style: oblique;
}

.quienes-somos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 100px; 
    padding-top: 150px;
    font-size: xx-large;
}

.quienes-somos-3{
    padding-top: 50px;

}

.quienes-somos-imagen{
    height: 950px;
    background-position: left;

}

.quienes-somos-2 > p > strong > em{
    color: #E58435;
}

.quienes-somos-3 > h2 > strong > em{
    color: #E58435;
}

/**No pude linkear el boton siguiente para que vaya al fin del Index que era la idea/**/

.btn-nosotros{
    display: block;
    width: 600px;
    margin-top: 10px;
    text-align: center;
    padding: 20px 20px;
    border-radius: 10px;
    background-color: #E58435;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
}
