*{
    margin: 0px;
    padding: 0%;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body{
    overflow-x: hidden;
}
body{
    margin: 0;
}
.main-color{
    background-color: #FFEEE3
}

/*/Logo/*/
.logo{
    width: 85px; ;
    margin-left: 20px;
}

/*/Navbar Bootstrap/*/
.navbar{
    background-color: #FFEEE3 !important;
}
.navbar-brand{
    color: black;
}

/*/Carousel/*/
.carousel-tarjeta{
    width: 100%;
}

/*/Botones Boostrap/*/
.btn{
    background-color: #E58435;
    
}
/*/Footer Bootstrap/*/
.footer-color{
    background-color: #FFDFCC;
}
.footer-letras{
    color: #E58435;
}

/*/Navbar CSS/*/
.navss{
    background-color:#FFDFCC ;
    display: flex;
    justify-content: space-between;
}
/*/Formulario BS/*/
.formulario{
    width: 700px;
    margin: auto;
}

